body {
    background: #ecf0f1;
    font-family: 'Source Sans Pro', sans-serif;
}

#bCard {
    padding: 20px;
    max-width: 50vw;
    background-color: white;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
}

div.photo {
    background-image: url("../img/hoffnung.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
}

div.info {
    min-width: 75%;
    min-height: auto;

}




